 *{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  background-color:#170600;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}
.main{
  width: 100%;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.img_box img{
width: 500px;
height: 400px;
margin-top: 20px;
}
.item{
  color: white;
  margin-top: 20px;
}


.footer {
  background: linear-gradient(180deg, #170A00, #0F0700);
  color: #fff;
  padding: 60px 80px 30px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-col h3 {
  margin-bottom: 15px;
}
.logo1{
  color: #ff8c00;
  font-size: 24px;
  margin-top: 90px;
}
.logo {
  color: #ff8c00;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  font-size: 14px;
  opacity: 0.9;
  cursor: pointer;
  color: #515151;
}

.footer-col ul li:hover {
  color: #ff8c00;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
